{% load staticfiles %}
<!-- This is a comment -->
<html>

<title>Home</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<div id="header">
<h1 align="center" >Ivy 232</h1>
<hr />
</div>

<body bgcolor="PowderBlue">

<div id="section">
<p1 style="font-size:30px">Welecome come to GoodGoodStudy!</p1>
<br/>
<p2 style="font-family:times;color:green">
You can read your peer's notes and publish your own notes about Physics, Chemistry, and English!
</p2>
</div><br/><br/>

<p3 align="center">
<div id="nav">
<a href="post_list">English</a><br/><br/>
<a href="post_list2">Physics</a><br/><br/>
<a href="post_list3">Chemistry</a><br/><br/>
</div>

<br/><br/>
<p3/>
<div id="footer">
:) :( :< :* :l 
</div>

</body>

