._1Pnuu {
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
    width: 100%;
    z-index: 1;
}

._3Kyki:active {
    -webkit-transform: scale(.95);
            transform: scale(.95);
}

._1JuPP {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 6px;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

._1JuPP._2VFj0 {
    background-color: rgba(0, 0, 0, .6);
}

._3N4wx {
    bottom: 0;
    padding: 8px;
    position: absolute;
}

._1JuPP._30WrK {
    background-color: rgba(0, 0, 0, .6);
}
._2t5o_ {
    position: relative;
    top: 48px;
}

._3G5WN {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 24px;
}

.dcTqS {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
}
.CoGGB {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0;
    position: relative;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
    width: 100%;
}

._1kPi7 {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.CoGGB:hover ._1kPi7,
._3pTZD {
    background-color: rgba(0, 0, 0, .4);
}

.yLbk4 {
    height: 106px;
    width: 106px;
}

._2ErzO {
    height: 136px;
    width: 136px;
}

.CoGGB:focus {
    outline: none;
}

.CoGGB._9jRcs {
    cursor: default;
}

._2oFm8 {
    background-color: #bd081c;
    border-radius: 6px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
    line-height: 128px;
    text-align: center;
    width: 100%;
}

.CoGGB:hover ._15z7q {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 8px;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.t0_dn {
    display: none;
}

.CoGGB:hover:active .t0_dn {
    bottom: 2px;
    display: block;
    padding: 8px;
    position: absolute;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
    z-index: 1;
}

.CoGGB:hover:active ._15z7q,
.CoGGB:hover:active .t0_dn {
    -webkit-transform: scale(.95);
            transform: scale(.95);
}
._3uBSZ {
    border: 1px solid #c7c7c7;
}

._1qbzs {
    border-color: #d4d4d4;
}

._11Pux {
    border: 1px solid #d4d4d4;
}

._9b_x9 {
    border-radius: 4px;
}

._3zs98 {
    font-size: 20px;
}

._9ytXY {
    font-size: 16px;
}

._1W9IN {
    font-size: 14px;
}

._1pKjF {
    font-size: 12px;
}

.nkMiQ {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

._2SgYx {
    margin: 20px;
}

._22eUE {
    margin: 10px;
}

._1Enl3 {
    padding: 20px;
}

._1Mvtm {
    padding: 10px;
}

._1jk4J {
    padding: 10px 0;
}

._17cz9 {
    width: 1236px;
}

._2IYnh {
    color: #555;
}

.RniU5 {
    color: #333;
}

.zsTA4 {
    color: #bd081c;
}
._2Crs5 {

    background: #fff;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    outline: 0;
    padding: 7px 10px
}

._2Crs5:hover {
    background: #eee
}

._2Crs5:active {
    background: #c7c7c7
}

._2ycQM {

    background: #bd081c;
    color: #fff
}

._2ycQM:hover {
    background: #b0071a
}

._2ycQM:active {
    background: #930616
}

._1rXvr {

    background: #efefef
}

._1rXvr:hover {
    background: #e3e3e3
}

._1rXvr:active {
    background: #c7c7c7
}

._2ycQM,
._1rXvr {

    border: none;
    height: 32px;
}
._3RXJ- {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
}

._1lB54 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
}
._1IING {
    margin: auto;
    width: 200px;
}

._2EIKF {
    border-radius: 50%;
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

._11Q9W {
    display: block;
    margin: 5px;
    text-align: left;
}

._1pvRv {
    margin: 10px;
    text-align: center;
}

._3Ln6s {
    margin-right: 5px;
}
._1blUB {
    background-color: #fff;
    border-radius: 8px;
}
