{% load staticfiles %}
 
<html>
    <head>
        <title>Blog from Ivy Hall</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Blog from Ivy Hall</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                        {% for post in posts2 %}
                            <div class="post">
                                <div class="date">
                                    <p>published: {{ post.published_date }}</p>
                                </div>
                                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                                <p>{{ post.text|linebreaksbr }}</p>
                            </div> 
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>




