
{% load staticfiles %}

<html>
    <head>
        <title>Lily's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Lily's Physics Blog</a></h1>
        </div>
        <div class="post">
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>

        <div>
            <p>published: 22.03.2018, 12:14</p>
            <h2><a href="">Nuclear Magnetic Resonance Spectroscopy</a></h2>
            <p>The nucleus of a hydrogen atom has a proton with a property called spin. (integral fractional) This property helps the proton to create a magnetic field similar to which created by a bar magnet. That is to say, it has north pole and south pole.</p>

            <p>We put a proton in a magnetic field, then the proton will align with the external magnetic field line at its location. When the proton does so, it is called the  state; however, it can also absorb energy to change its original spin of 1/2 into –1/2. When a proton changes its state from  to , then it is in resonance with the external magnetic field. But the energy provided should be the exact value for the proton to complete spin flip. Then, the energy supply differs in amount, the proton flips back to  state. The transition of energy levels will be recorded by the machine as a peak. 


The energy source we choose is radio wave, which is composed by photons. The formula of energy for a photon is E = hν (h is a constant called Plank constant, [proportionality constant: 6.6261] and ν represents frequency). It is obvious that energy is directly proportional to the frequency. Then we can say that certain frequency of radio wave can cause certain proton to complete spin flip and a round of energy transfer.



            <p>What determines the amount of energy required by a proton to flip its spin???</p>



            <p>In an applied magnetic field electrons circulate and produce an induced field which opposes the applied field. Smaller effective field on proton. The nucleus, as well as the proton inside, is said to be experiencing a diamagnetic shielding. Under such condition, it is easier for the proton to complete a spin flip. It requires less energy because of the less effective field.</p> 


            <p> In an organic compound, the closer the hydrogen is to the electronegative atoms, the less it is shielded. Because the atom with strong electronegativity will attract the electrons around the nucleus and decrease the influence of diamagnetic shielding. Then more energy is required to flip the spin. More energy corresponds to more frequency.</p>
The H atoms around the same carbon atom can be in the same chemical environment because the H can spin around the carbon and see the same things around them. If there are more chemically equivalent protons, the peak will be higher because more protons react to a certain frequency of radio wave and contribute to this peak in one certain frequency. (integration-integrated to 2 or 3 or…chemical shift…splitting)

But the same resonance generated by equivalent protons will split according to their neighboring protons. (Like pascals triangle.)


            <p>It can be used to determine the structure of organic compounds. The size of the molecules analyzed ranges from a small organic molecule to proteins. It is non-destructive, and quantitative. The petroleum industry uses NMR equipment to measure porosity of different rocks and permeability of different underground fluids. It can also be used in environmental testing and process control, facilitating scientific research to a great extent.</p>

       </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
