'''
h1 a {
    color: #648A3B;
    font-family:'Alfa Slab One', cursive;
}
'''
body {
    background: url("/static/css/images/background.png") no-repeat fixed
    padding-left: 25px;
}

.page-header {
    background-color: #5E4175;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #B0A7B5;
    font-size: 36pt;
    text-decoration: none;
}

.content {
background: url("/static/css/images/background.png") no-repeat fixed;

    margin-left: 40px;
}


h1, h2, h3, h4 {
    font-family: 'Pacifico', cursive;
}

.date {
    color: #828282;
    font-family: 'Oregano', cursive;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}
