
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style_detail.css' %}" />

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<html>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>

    <p> </p>
</html>



<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <div>
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        <p>                      </p>

        <p>                      </p>
        <p>                      </p>
        <p>                      </p>
        <p>                      </p>
    </div>
{% endfor %}
<input type="submit" value="Vote" />
</form>
